{{ define "Create" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
<br>
    <h1>Create</h1>
  <br>
  <br>
  <form method="post" action="/insert">
    Ten san pham: <input type="text" name="TenSanPham" placeholder="TenSanPham" autofocus/>
    <br>
    <br>
    Gia: <input type="text" name="Gia" placeholder="Gia"/>
    <br>
    <br>
    <input type="submit" value="Create"/>
   </form>
{{ template "Footer" }}
{{ end }}
